<h1 class="text-center my-4 title-big">Find Interested Activity</h1>

<div class="row header-row mx-0 px-3">

  <div class="col align-self-end p-0" id="header-col-button">
    <!-- Button trigger modal -->
    <% if !logged_in? %>
      <!--  render login modal partial -->
      <%= link_to "Create Your Poster !", login_path, {remote: true, 'data-toggle': "modal", 'data-target': "#login", class: "btn text-white float-right"} %>
    <% else %>
      <!--  render create poster form partial-->
      <button type="button" class="btn text-white float-right" id="new_poster_button">Create Your Poster !</button>

      <div class="container row">
        <div>
        <span class="switch">
          <label for="follow_switch">All</label>
          <input type="checkbox" class="switch" id="follow_switch">
          <label for="follow_switch">Who you followed</label>
        </span>
        </div>
    <% end %>

    <div class='col-md-3'>
      <div class="form-group">
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
          <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="form-group">
        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
          <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>

</div>

<hr class="my-4">

<div class="card-columns">
  <% ActivityType.all.each do |activity_type| %>
    <div class="card poster_type" data-id="<%= activity_type.id %>">
      <div class="card-body text-white material-head-<%= activity_type.color %>">
        <h5 class="card-title"> <%= activity_type.name %> <i class="fas fa-check-circle ml-1"></i></h5>
      </div>
    </div>
  <% end %>
</div>

<hr class="my-4">

<div id="post_display_container">
  <% @activities.each_slice(20) do |activities| %>
    <div class="card-columns card-block">
      <% activities.each do |activity| %>
        <%= render partial: 'activities/poster', locals: {activity: activity} %>
      <% end %>
    </div>
  <% end %>
</div>

<script>
    ;(function () {
        let pageSize = 20
        var controlFlag = true; // used to switch off the endless refreshing
        let $post_display_container = $('#post_display_container')
        $(window).on("scroll", function () {
            // if allLoaded flag is true, that means we will not load more data.
            if ($post_display_container.data('allLoaded')) {
                return
            }
            var height = $(this).height();
            var scrollTop = $(this).scrollTop();
            var totalHeight = document.documentElement.scrollHeight;
            if (totalHeight - scrollTop - height < 5) {
                if (controlFlag) {
                    pageSize += 20
                    refreshPosts()
                }
                controlFlag = false // switch off
            }
        });
        $(document).one("turbolinks:visit", function () {
            $(window).off("scroll")
        })

        var posterModal = $('#newPosterModal');
        var modalBody = posterModal.find('.modal-body');
        $('#new_poster_button').on('click', function () {
            $.ajax({
                url: '<%= new_activity_path %>',
                method: 'get',
                success: function (data) {
                    modalBody.html(data);
                    posterModal.modal('show')
                }
            })
        })
        posterModal.on('ajax:success', function (event) {
            posterModal.modal("hide")
        })

        window.refreshPosts = function (resetSize) {
            // if resetSize is true, it means we are going to
            // reset our size to 20, set alloaded flag to be false
            // reset last size to 0
            // we should set resetSize to true whenever a search condition changes
            if (resetSize) {
                $post_display_container.data('allLoaded', false)
                $post_display_container.data('lastSize', -1)
                pageSize = 20
            }
            let typeArray = []
            $('.poster_type.active').each(function (index, value) {
                typeArray.push(parseInt($(value).data('id')))
            })
            let types = typeArray.join(',')

            let show_follows = 0
            let checkBox = document.getElementById('follow_switch');

            if (checkBox.checked === true) {
                show_follows = 1
            }
            $.ajax({
                url: '<%= refresh_posts_url %>',
                data: {
                    page: 1,
                    size: pageSize,
                    activity_type_ids: types,
                    show_follows: show_follows
                },
                success() {
                    controlFlag = true

                }
            })
        }

        /**
         * @return {string}
         */
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;

        }

        $(() => {
            let activity_id = GetQueryString("activity_id")
            activity_id && showPosterInModal(activity_id)
        })
    })()

    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker({
            useCurrent: false
        });
        $("#datetimepicker1").on("change.datetimepicker", function (e) {
            $('#datetimepicker2').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker2").on("change.datetimepicker", function (e) {
            $('#datetimepicker1').datetimepicker('maxDate', e.date);
        });
    });

</script>
