<br>
<h1 class="text-center">Find Interested Activity</h1>

<!-- Button trigger modal -->
<% if !logged_in? %>
  <!--  render login modal partial -->
  <button type="button" class="btn btn-primary float-right" id="login_button" data-toggle="modal" data-target="#login" data-whatever="Poster Date">Create
    Your Poster !
  </button>
  <%#= button_to "Create Your Poster !",  %>
<% else %>
  <!--  render create poster form partial-->
  <button type="button" class="btn btn-primary float-right" id="new_poster_button">Create Your Poster !</button>
<% end %>

<!-- New poster Modal -->
<div class="modal fade" id="newPosterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">New Poster</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="new_poster_form"></div>
    </div>
  </div>
</div>

<!--<script>-->
<!--  $('#exampleModal').on('show.bs.modal', function (event) {-->
<!--      var button = $(event.relatedTarget) // Button that triggered the modal-->
<!--      var recipient = button.data('whatever') // Extract info from data-* attributes-->
<!--      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).-->
<!--      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.-->
<!--      var modal = $(this)-->
<!--      modal.find('.modal-title').text('New message to ' + recipient)-->
<!--      modal.find('.modal-body input').val(recipient)-->
<!--  })-->
<!--</script>-->


<!-- Login modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="login">Log In</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--          todo: here js render login partial-->

        <%= form_for(:session, url: login_path) do |form| %>

          <div class="form-group">
            <%= form.label "Email" %>
            <%= form.text_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label "Password" %>
            <%= form.password_field :password, class: "form-control" %>
          </div>

          <div class="actions float-right">  <!-- modal-footer -->
            <%= form.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
        <!--        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#newPosterModal" data-whatever="xxx" >Create Your Poster !</button>-->

        <p>New
          user? <%= link_to "Sign up now!", signup_path, {"data-toggle": "modal", "data-dismiss": "modal", "data-target": "#signup"} %></p>

      </div>
    </div>
  </div>
</div>


<!-- sign up modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="signup">Sign Up</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--          todo: here js render login partial-->

        <%= form_with(model: User.new, local: true) do |form| %>
          <%# if User.new.errors.any? %>
          <!--            <div id="error_explanation">-->
          <!--              <h2><%#= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>-->

          <!--              <ul>-->
          <%# user.errors.full_messages.each do |message| %>
          <!--                  <li><%#= message %></li>-->
          <%# end %>
          <!--              </ul>-->
          <!--            </div>-->
          <%# end %>

          <div class="form-group">
            <%= form.label :user_name %>
            <%= form.text_field :user_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :email %>
            <%= form.text_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :password_confirmation, "Confirmation" %>
            <%= form.password_field :password_confirmation, class: "form-control" %>
          </div>

          <div class="actions float-right">
            <%= form.submit "Confirm", class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<br>
<br>
<hr>

<!-- card container -->
<!--<div id="scroll_container" style="height: 200px;overflow: scroll">-->
<div class="card_container">

  <% row_count = 0 %>
  <% @activities.each do |activity| %>
    <% if row_count % 4 == 0 %>
      <div class="card-deck">
    <% end %>
    <div class="card m-3 text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body pb-2">
        <% if !activity.activity_date.nil? %>
          <div class="row">
            <div class="col">
              <h5 class="card-title mb-1 text-left">
                <%= activity.activity_date.strftime("%b %d") %>
              </h5>
              <h6 class="card-subtitle mb-3 text-left text-muted">
                <%= activity.activity_date.strftime("%a %H:%M") %>
              </h6>
            </div>
            <div class="col">
              <h2>
                <%= activity.place %>
              </h2>
            </div>
          </div>
        <% else %>
          <h4 class="card-title ">
            Sometime
          </h4>
        <% end %>
        <p class="card-text"><%= activity.content %></p>

        <%= link_to "Join!", "/join_activity/#{activity.id}", class: "btn btn-sm btn-outline-primary", method: :post %>
        <p class="card-text text-right">
          <span class="text-muted" style="font-size: x-small; ">Update: <%= activity.updated_at.strftime("%m/%d/%y %H:%M") %></span>
<!--          <small class="text-muted">Update: <%#= activity.updated_at.strftime("%m/%d/%y %H:%M") %></small>-->
        </p>

<!--        <div class="row">-->
<!--          <div class="col-8">-->

<!--          </div>-->
<!--          <div class="col-4">-->
<!--          </div>-->
<!--        </div>-->


      </div>
    </div>

    <!-- Todo here, missing a </div> -->
    <%# if row_count % 4 == 0 %>
    <!--        </div>-->
    <!--        <br>-->
    <%# end %>
    <% row_count += 1 %>
  <% end %>

  <!--  <div class="card-deck">-->
  <!--    <div class="card text-center">-->
  <!--      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">-->
  <!--      <div class="card-body">-->
  <!--        <h4 class="card-title">Card title</h4>-->
  <!--        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.-->
  <!--          This content is a little bit longer.</p>-->
  <!--        <p class="card-text">-->
  <!--          <small class="text-muted">Last updated 3 mins ago</small>-->
  <!--        </p>-->
  <!--        <a href="#" class="btn btn-outline-primary">Join!</a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="card text-center">-->
  <!--      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">-->
  <!--      <div class="card-body">-->
  <!--        <h4 class="card-title">Card title</h4>-->
  <!--        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
  <!--        <p class="card-text">-->
  <!--          <small class="text-muted">Last updated 3 mins ago</small>-->
  <!--        </p>-->
  <!--        <a href="#" class="btn btn-outline-primary">Join!</a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="card text-center">-->
  <!--      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">-->
  <!--      <div class="card-body">-->
  <!--        <h4 class="card-title">Card title</h4>-->
  <!--        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.-->
  <!--          This card has even longer content than the first to show that equal height action.</p>-->
  <!--        <p class="card-text">-->
  <!--          <small class="text-muted">Last updated 3 mins ago</small>-->
  <!--        </p>-->
  <!--        <a href="#" class="btn btn-outline-primary">Join!</a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="card text-center">-->
  <!--      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">-->
  <!--      <div class="card-body">-->
  <!--        <h4 class="card-title">Card title</h4>-->
  <!--        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.-->
  <!--          This card has even longer content than the first to show that equal height action.</p>-->
  <!--        <p class="card-text">-->
  <!--          <small class="text-muted">Last updated 3 mins ago</small>-->
  <!--        </p>-->
  <!--        <a href="#" class="btn btn-outline-primary">Join!</a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  </div>
</div>

<script>
    var controlFlag = true; // used to switch off the endless refreshing
    $('#scroll_container').on("scroll", function () {
        var height = $(this).height();
        var scrollTop = $(this).scrollTop();
        var totalHeight = this.scrollHeight;
        if (totalHeight - scrollTop - height < 20) {
            if (controlFlag) {
                console.log("ajax!")
                //$.ajax() // do the ajax to add more content and set the controlFlag to true in the callback function
            }
            controlFlag = false // switch off
        }
    });

    var posterModal = $('#newPosterModal');
    var modalBody = posterModal.find('.modal-body');
    $('#new_poster_button').on('click', function () {
        $.ajax({
            url: '<%= new_activity_path %>',
            method: 'get',
            success: function (data) {
                modalBody.html(data);
                posterModal.modal('show')
            }
        })
    })
</script>

<script>
    var interval = setInterval(() => {
        navigator.geolocation.getCurrentPosition(({coords}) => {
            console.log(`latitude:${coords.latitude},longitude:${coords.longitude}`)
            //$.ajax() // use ajax to upload user location
        })
    }, 10000);
    $(document).on('turbolinks:load', () => {
        clearTurboLink = () => {
            clearInterval(interval);
            $(document).off('turbolinks:load', clearTurboLink)
        };
        $(document).on('turbolinks:load', clearTurboLink)
    })
</script>
