<h1 id="home_title" class="text-center my-5 title-big">w</h1>

<div class="row header-row align-items-center mx-0 px-3 m-auto">

  <div class="col-auto form-group my-1 px-1">
    <div class="input-group date datepicker_with_label" id="start_date_time" data-target-input="nearest">
      <div class="input-group-prepend">
        <label class="input-group-text" for="start_date_time">From</label>
      </div>
      <input type="text" class="form-control datetimepicker-input" data-target="#start_date_time"/>
      <div class="input-group-append" data-target="#start_date_time" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
  <div class="col-auto form-group my-1 px-1">
    <div class="input-group date" id="end_date_time" data-target-input="nearest">
      <div class="input-group-prepend">
        <label class="input-group-text" for="end_date_time">To</label>
      </div>
      <input type="text" class="form-control datetimepicker-input" data-target="#end_date_time"/>
      <div class="input-group-append" data-target="#end_date_time" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <% if logged_in? %>
    <div class="col-auto my-1 px-4 switch">
      <label class="m-0" for="follow_switch">Everyone</label>
      <input type="checkbox" class="switch" id="follow_switch">
      <label class="m-0" for="follow_switch">Followed</label>
    </div>
  <% end %>

  <div class="col text-right my-1 p-0" id="header-col-button">
    <% if !logged_in? %>
      <!--  render login modal partial -->
      <%= link_to "Create Your Poster !", login_path, {remote: true, 'data-toggle': "modal", 'data-target': "#login", class: "btn text-white"} %>
    <% else %>
      <!--  render create poster form partial-->
      <button type="button" class="btn text-white" id="new_poster_button">Create Your Poster !</button>
    <% end %>
  </div>
</div>

<hr class="my-4">

<div class="card-columns">
  <% ActivityType.all.each do |activity_type| %>
    <div class="card poster_type" data-id="<%= activity_type.id %>">
      <div class="card-body text-white material-head-<%= activity_type.color %>">
        <h5 class="card-title"> <%= activity_type.name %> <i class="fas fa-check-circle ml-1"></i></h5>
      </div>
    </div>
  <% end %>
</div>

<hr class="my-4">

<div id="post_display_container">
  <%# @activities.each_slice(20) do |activities| %>
  <!--    <div class="card-columns card-block">-->
  <%# activities.each do |activity| %>
  <%#= render partial: 'activities/poster', locals: {activity: activity} %>
  <%# end %>
  <!--    </div>-->
  <%# end %>
</div>

<script>
    ;(function () {
        let pageSize = 20
        var controlFlag = true; // used to switch off the endless refreshing
        let $post_display_container = $('#post_display_container')
        $(window).on("scroll", function () {
            // if allLoaded flag is true, that means we will not load more data.
            if ($post_display_container.data('allLoaded')) {
                return
            }
            var height = $(this).height();
            var scrollTop = $(this).scrollTop();
            var totalHeight = document.documentElement.scrollHeight;
            if (totalHeight - scrollTop - height < 5) {
                if (controlFlag) {
                    pageSize += 20
                    refreshPosts()
                }
                controlFlag = false // switch off
            }
        });
        $(document).one("turbolinks:visit", function () {
            $(window).off("scroll")
        })

        var posterModal = $('#newPosterModal');
        var modalBody = posterModal.find('.modal-body');
        $('#new_poster_button').on('click', function () {
            $.ajax({
                url: '<%= new_activity_path %>',
                method: 'get',
                success: function (data) {
                    modalBody.html(data);
                    posterModal.modal('show')
                }
            })
        })
        posterModal.on('ajax:success', function (event) {
            posterModal.modal("hide")
        })

        window.refreshPosts = function (resetSize) {
            $('#post_display_container').append(`<img src="/loading.gif" class="home_loading"/>`)

            // if resetSize is true, it means we are going to
            // reset our size to 20, set alloaded flag to be false
            // reset last size to 0
            // we should set resetSize to true whenever a search condition changes
            if (resetSize) {
                $post_display_container.data('allLoaded', false)
                $post_display_container.data('lastSize', -1)
                pageSize = 20
            }
            let typeArray = []
            $('.poster_type.active').each(function (index, value) {
                typeArray.push(parseInt($(value).data('id')))
            })
            let types = typeArray.join(',')

            let show_follows = 0
            let checkBox = document.getElementById('follow_switch');

            if (checkBox.checked === true) {
                show_follows = 1
            }

            //let start_time = $('#start_date').val()

            $.ajax({
                url: '<%= refresh_posts_url %>',
                data: {
                    page: 1,
                    size: pageSize,
                    activity_type_ids: types,
                    show_follows: show_follows,
                    start_time: $('#start_date_time').find('input').val(),
                    end_time: $('#end_date_time').find('input').val(),
                },
                success() {
                    controlFlag = true

                }
            })
        }

        /**
         * @return {string}
         */
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        $(() => {
            let activity_id = GetQueryString("activity_id")

            <% if !logged_in? %>
            // Store
            if (activity_id) {
                localStorage.setItem("activity_id_log", activity_id);
            }
            <% else %>
            // Retrieve
            if (localStorage.getItem("activity_id_log") != null) {
                activity_id = localStorage.getItem("activity_id_log");
                localStorage.removeItem("activity_id_log");
            }
            <% end %>

            activity_id && showPosterInModal(activity_id)

            refreshPosts()

            $('#follow_switch').on('change', function () {
                refreshPosts(true)
            })

            let start_date_time = $('#start_date_time')
            //start_date_time.find('input').val(moment().format('MM/DD/YYYY HH:mm'))
            start_date_time.datetimepicker({
                icons: {
                    time: "far fa-clock",
                    date: "far fa-calendar",
                },
                useCurrent: false,
                format: 'MM/DD/YYYY HH:mm'
            });
            let end_date_time = $('#end_date_time')
            end_date_time.datetimepicker({
                icons: {
                    time: "far fa-clock",
                    date: "far fa-calendar",
                },
                format: 'MM/DD/YYYY HH:mm'
            });

            start_date_time.on("change.datetimepicker", function (e) {
                //end_date_time.datetimepicker('minDate', e.date);
                refreshPosts(true)
            });
            end_date_time.on("change.datetimepicker", function (e) {
                //start_date_time.datetimepicker('maxDate', e.date);
                refreshPosts(true)
            });

            let theater = theaterJS()
            theater.addActor('home_title')
                .addScene('home_title:working out alone?')
                .addScene(2000)
                .addScene(-6)
                .addScene('team up!')
            theater.play()
        })
    })()


</script>
