
<h1 class="text-center my-4 title-big font-effect-canvas-print">Find Interested Activity</h1>

<div class="row header-row mx-0">
  <div class="col  align-self-start p-0" id="header-col-search">
    <form class="form-inline my-2 my-lg-0 ">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn text-white" type="submit">Search</button>
    </form>
  </div>

  <div class="col align-self-end p-0" id="header-col-button">
    <!-- Button trigger modal -->
    <% if !logged_in? %>
      <!--  render login modal partial -->
      <%= link_to "Create Your Poster !", login_path, {remote: true, 'data-toggle': "modal", 'data-target': "#login", class: "btn text-white float-right"}%>
    <% else %>
      <!--  render create poster form partial-->
      <button type="button" class="btn text-white float-right" id="new_poster_button">Create Your Poster !</button>
    <% end %>
  </div>
</div>


<!-- New poster Modal -->
<!--TODO emoji support-->
<div class="modal fade" id="newPosterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">New Poster</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="new_poster_form"></div>
    </div>
  </div>
</div>

<!--<script>-->
<!--  $('#exampleModal').on('show.bs.modal', function (event) {-->
<!--      var button = $(event.relatedTarget) // Button that triggered the modal-->
<!--      var recipient = button.data('whatever') // Extract info from data-* attributes-->
<!--      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).-->
<!--      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.-->
<!--      var modal = $(this)-->
<!--      modal.find('.modal-title').text('New message to ' + recipient)-->
<!--      modal.find('.modal-body input').val(recipient)-->
<!--  })-->
<!--</script>-->


<hr class="my-4">

<!--<div class="card-container">-->
<div class="card-columns">

  <% @activities.reverse_each do |activity| %>
<!--    style="width: 330px"   m-3-->
    <div class="card shadow mb-3">
<!--      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">-->

      <div class="card-header px-3 pt-0 pb-1 text-white material-head-<%= activity.theme_color %>">
        <div class="row p-0">
          <div class="col px-2">
            <% if !activity.activity_date.nil? %>
              <h1 class="card-title mt-1 mb-1 text-left">
                <%= activity.activity_date.strftime("%b %d") %>
              </h1>
              <h3 class="card-title mb-1 text-left">
                <%= activity.activity_date.strftime("%a %H:%M") %>
              </h3>
            <% else %>
              <h2 class="card-title mt-1 mb-2 text-left">
                Sometime
              </h2>
            <% end %>
          </div>

          <div class="col px-2">
            <h1 class="card-title mt-0 mb-0 text-right">
              <% if !logged_in? %>
                <%= link_to "", login_path, {remote: true, 'data-toggle': "modal", 'data-target': "#login", class: "fas fa-plus"}%>
              <% else %>
                <%= link_to "", "/join_activity/#{activity.id}", class: "fas fa-plus", method: :post %>
              <% end %>
            </h1>

            <h2 class="card-title mt-0 mb-1 text-right">
              <%= activity.place %>
            </h2>
          </div>
        </div>

      </div>
      <div class="card-body px-3 pt-3 pb-2">

        <p class="card-text material-body-<%= activity.theme_color %>" style="min-height: 120px;"><%= activity.content %></p>

        <%#= link_to "Join!", "/join_activity/#{activity.id}", class: "btn btn-sm btn-outline-primary align-bottom", method: :post %>
        <p class="card-text text-right material-footer-<%= activity.theme_color %>">
          <span style="font-size: small;">Update: <%= activity.updated_at.strftime("%m/%d/%y %H:%M") %></span>
        </p>
      </div>
    </div>
  <% end %>

  </div>
</div>

<script>
    var controlFlag = true; // used to switch off the endless refreshing
    $('#scroll_container').on("scroll", function () {
        var height = $(this).height();
        var scrollTop = $(this).scrollTop();
        var totalHeight = this.scrollHeight;
        if (totalHeight - scrollTop - height < 20) {
            if (controlFlag) {
                console.log("ajax!")
                //$.ajax() // do the ajax to add more content and set the controlFlag to true in the callback function
            }
            controlFlag = false // switch off
        }
    });

    var posterModal = $('#newPosterModal');
    var modalBody = posterModal.find('.modal-body');
    $('#new_poster_button').on('click', function () {
        $.ajax({
            url: '<%= new_activity_path %>',
            method: 'get',
            success: function (data) {
                modalBody.html(data);
                posterModal.modal('show')
            }
        })
    })
    posterModal.on('ajax:success', function (event) {
        [data, status, xhr] = event.detail
        posterModal.modal("hide")
        console.log(data)
        //TODO page refresh
    }).on('ajax:error',function(event){
      //TODO
    })
</script>

<script>
    var interval = setInterval(() => {
        navigator.geolocation.getCurrentPosition(({coords}) => {
            console.log(`latitude:${coords.latitude},longitude:${coords.longitude}`)
            //$.ajax() // use ajax to upload user location
        })
    }, 10000);
    $(document).on('turbolinks:load', () => {
        clearTurboLink = () => {
            clearInterval(interval);
            $(document).off('turbolinks:load', clearTurboLink)
        };
        $(document).on('turbolinks:load', clearTurboLink)
    })
</script>
