<h1 class="text-center my-4 title-big">Find Interested Activity</h1>

<div class="row header-row mx-0 px-3">
  <!--  <div class="col  align-self-start p-0" id="header-col-search">-->
  <!--    <form class="form-inline my-2 my-lg-0 ">-->
  <!--    <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
  <!--    <button class="btn text-white" type="submit">Search</button>-->
  <!--    </form>-->
  <!--  </div>-->

  <div class="col align-self-end p-0" id="header-col-button">
    <!-- Button trigger modal -->
    <% if !logged_in? %>
      <!--  render login modal partial -->
      <%= link_to "Create Your Poster !", login_path, {remote: true, 'data-toggle': "modal", 'data-target': "#login", class: "btn text-white float-right"} %>
    <% else %>
      <!--  render create poster form partial-->
      <button type="button" class="btn text-white float-right" id="new_poster_button">Create Your Poster !</button>
    <% end %>
  </div>
</div>

<hr class="my-4">

<div class="card-columns">
  <% ActivityType.all.each do |activity_type| %>
    <div class="card poster_type" data-id="<%= activity_type.id %>">
      <div class="card-body text-white material-head-<%= activity_type.color %>">
        <h5 class="card-title"> <%= activity_type.name %> <i class="fas fa-check-circle ml-1"></i></h5>
      </div>
    </div>
  <% end %>
</div>

<hr class="my-4">

<div id="post_display_container" class="card-columns">
  <% @activities.reverse_each do |activity| %>
    <%= render partial: 'activities/poster', locals: {activity: activity} %>
  <% end %>
</div>

<script>
    ;(function () {
        var controlFlag = true; // used to switch off the endless refreshing
        $('#scroll_container').on("scroll", function () {
            var height = $(this).height();
            var scrollTop = $(this).scrollTop();
            var totalHeight = this.scrollHeight;
            if (totalHeight - scrollTop - height < 20) {
                if (controlFlag) {
                    console.log("ajax!")
                    //$.ajax() // do the ajax to add more content and set the controlFlag to true in the callback function
                }
                controlFlag = false // switch off
            }
        });

        var posterModal = $('#newPosterModal');
        var modalBody = posterModal.find('.modal-body');
        $('#new_poster_button').on('click', function () {
            $.ajax({
                url: '<%= new_activity_path %>',
                method: 'get',
                success: function (data) {
                    modalBody.html(data);
                    posterModal.modal('show')
                }
            })
        })
        posterModal.on('ajax:success', function (event) {
            posterModal.modal("hide")
        })

        window.refreshPosts = function () {
            let typeArray = []
            $('.poster_type.active').each(function (index, value) {
                typeArray.push(parseInt($(value).data('id')))
            })
            let type = typeArray.join(',')
            $.ajax({
                url: '<%= refresh_posts_url %>',
                data: {
                    page: 1,
                    size: 20,
                    activity_type_ids: type
                }
            })
        }

        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;

        }

        $(() => {
            $(`.comment_box[data-id=${GetQueryString("actvity_id")}]`).find('.comment').click();

        })
    })()
</script>
