<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <%= form.label :password_confirmation, "Confirmation" %>
  <%= form.password_field :password_confirmation, class: 'form-control' %>

  <div class="field">
    <%= form.label :potrait_url %>
    <%= form.text_field :potrait_url %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :physical_condition %>
    <%= form.text_area :physical_condition %>
  </div>

  <div class="field">
    <%= form.label :motto %>
    <%= form.text_area :motto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
