<div class="container main-section">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 image-section">
      <img src="http://www.gate.ac.in/images/background/darling.jpg">
      <div class="row user-left-part">
        <div class="col-md-3 col-sm-3 col-xs-12 user-profile-part pull-left">
          <div class="row ">
            <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
              <%=avatar_for(@user)%>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
              <!-- Edit user Button Trigger -->
              <!-- <button type="button" class="btn btn-primary btn-block follow" id="userInfo_edit_button" data-toggle="modal" data-target="#editUserModal">Edit</button> -->
              <!-- Follow another user -->

              <!--<button type="button" class="btn btn-success btn-block follow" id="follow_button"> Follow </button> -->
              <% if Follow.exists?(followee_id: @user.id, follower_id: current_user.id) %>
                <%= link_to "Unfollow", "/unfollow/#{@user.id}", method: :delete, class: "btn btn-success btn-block follow", id: "#{@user.id}", follow: true %>
              <% else %>
                <%= link_to "Follow", "/follow/#{@user.id}", method: :post, class: "btn btn-primary btn-block follow", id: "#{@user.id}", follow: false %>
              <% end %>
            </div>
            <div class="row user-detail-row">
              <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                <div class="border"></div>
                <!-- need to reflect real number of follows and followers -->
                <p>FOLLOWER</p>
                <span>320</span>
                <p>FOLLOWING</p>
                <span>5</span>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
          <div class="row profile-right-section-row">
            <div class="col-md-12 profile-header">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                  <h1><%= @user.user_name %></h1>
                  <h5><%= @user.motto %></h5>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-right">
                  <%= link_to "My Achievements", show_starter_posters_path(@user.id), method: :get, class: "btn btn-primary" %>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active " href="#profile" role="tab" data-toggle="tab"><i class="fas fa-user-circle"></i> Basic Info</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#physical" role="tab" data-toggle="tab"><i class="fas fa-child"></i> Physical Info</a>
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="profile">
                      <div class="row">
                        <div class="col-md-2">
                          <label>User Name</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= @user.user_name %></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <label>Email</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= @user.email %></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <label>Gender</label>
                        </div>
                        <div class="col-md-6">
                          <p></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                          <p></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <label>Other stuff</label>
                        </div>
                        <div class="col-md-6">
                          <p></p>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="physical">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Height</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= @user.height %></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Weight</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= @user.weight %></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Physical Condition</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= @user.physical_condition %></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Favorite Sports</label>
                        </div>
                        <div class="col-md-6">
                          <p></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Level</label>
                        </div>
                        <div class="col-md-6">
                          <p>Professional</p>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Incorrect, please change-->
<script>
    $('.follow').on('click', function () {
        let userId = $(this).data('id');
        let follow_status = $(this).data('follow');
        if (follow_status) {
            $.ajax({

                url: 'unfollow/' + userId,
                method: 'delete',
                success: () => {
                    $(this).html('Follow');
                }
            })
        }
        else {
            $.ajax({
                url: 'follow/' + userId,
                method: 'post',
                success: () => {
                    $(this).html('Unfollow');
                }
            })
        }
        })


</script>
