<%= form_with(model: user, format: :json) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <img id="cropper"/>
    <%= form.label :avatar %>
    <div class="input-group mb-3">
      <div class="custom-file">
        <%= form.file_field :avatar, class: "custom-file-input", data: {file_refresh: true, image_push_to: "cropper"} %>
        <label class="custom-file-label">Choose file</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :height %>
    <%= form.text_field :height, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :weight %>
    <%= form.text_field :weight, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :physical_condition %>
    <%= form.text_field :physical_condition, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :motto %>
    <%= form.text_field :motto, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Confirm", class: "btn btn-primary" %>
  </div>

<% end %>
<script>

</script>
