<%

%>

<div class="container main-section user_profile">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 image-section">
      <img src="http://www.gate.ac.in/images/background/darling.jpg">
      <div class="row user-left-part">
        <div class="col-md-3 col-sm-3 col-xs-12 user-profile-part pull-left">
          <div class="row ">
            <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
              <%= avatar_for user, id: "upload_avatar_button", data: {toggle: "modal", target: "#upload_avatar_modal"} %>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
              <% if user == current_user %>
                <!-- Edit user Button Trigger -->
                <button type="button" class="btn btn-primary btn-block follow" id="userInfo_edit_button" data-toggle="modal" data-target="#editUserModal">Edit</button>
                <!-- Change pwd Button Trigger -->
                <button type="button" class="btn btn-success btn-block follow" id="change_pwd_button" data-toggle="modal" data-target="#changePwdModal">Change
                  Password
                </button>
              <% else %>
                <% if Follow.exists?(followee_id: user.id, follower_id: current_user_id) %>
                  <%= link_to "Unfollow", "javascript:void(0)", method: :delete, class: "btn btn-success btn-block follow", "data-id": "#{user.id}", "data-follow": true %>
                <% else %>
                  <%= link_to "Follow", "javascript:void(0)", method: :post, class: "btn btn-success btn-block follow", "data-id": "#{user.id}", "data-follow": false %>
                <% end %>
              <% end %>
            </div>
            <div class="row user-detail-row">
              <div class="col-md-12 col-sm-12 user-detail-section2 pull-left"
                   data-id="<%= user.id %>">
                <div class="border"></div>
                <!-- need to reflect real number of follows and followers -->
                <p>FOLLOWER</p>
                <span class="follow_span" data-show-follow-relation="follower"><%= Follow.where(followee_id: user.id).count %></span>
                <p>FOLLOWING</p>
                <span class="follow_span" data-show-follow-relation="followed"><%= Follow.where(follower_id: user.id).count %></span>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
          <div class="row profile-right-section-row">
            <div class="col-md-12 profile-header">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                  <h1><%= user.user_name %></h1>
                  <h5><%= user.motto %></h5>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-right">
                  <!--<a href="/show_starter_posters/1 %>" class="btn btn-primary btn-block">My Posters</a> -->
                  <%#= button_to "My Posters", action: 'show_starter_posters_path', controller: 'activities', id: user.id, method: :get %>
                  <%= link_to "My Achievements", show_starter_posters_path(user.id), method: :get, class: "btn btn-primary" %>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active " href="#profile" role="tab" data-toggle="tab"><i class="fas fa-user-circle"></i>
                        Basic Info</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#physical" role="tab" data-toggle="tab"><i class="fas fa-child"></i>
                        Physical Info</a>
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="profile">
                      <div class="row">
                        <div class="col-md-2">
                          <label>User Name</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= user.user_name %></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <label>Email</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= user.email %></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <label>Gender</label>
                        </div>
                        <div class="col-md-6">
                          <p></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                          <p></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <label>Other stuff</label>
                        </div>
                        <div class="col-md-6">
                          <p></p>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="physical">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Height</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= user.height %></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Weight</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= user.weight %></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Physical Condition</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= user.physical_condition %></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Favorite Sports</label>
                        </div>
                        <div class="col-md-6">
                          <p></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Level</label>
                        </div>
                        <div class="col-md-6">
                          <p>Professional</p>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h2><%= user.user_name %>'s gallery</h2>
  <div class="row">
    <%= render 'photos/photo_list', photos: user.photos.limit(20) %>
  </div>
  <hr>
  <h2><%= user.user_name %>'s recent activities</h2>
  <div class="row">
    <% user.activities.limit(20).each do |activity| %>
      <%= render 'activities/poster', activity: activity %>
    <% end %>
  </div>

</div>
<script>
    ;(function () {
        var profileModal = $('#editUserModal');
        $('#userInfo_edit_button').on('click', function () {
            $.ajax({
                url: '<%= edit_user_path(user.id) %>',
                method: 'get',
                success: function (data) {
                    profileModal.find('.modal-body').html(data);
                    profileModal.modal('show')
                }
            })
        })
        profileModal.on('ajax:success', function (event) {
            profileModal.modal("hide")
        }).on('ajax:error', function (event) {
            // failed logic
            //TODO
        })
        var pwdModal = $('#changePwdModal');
        $('#change_pwd_button').on('click', function () {
            $.ajax({
                url: '<%= edit_password_path(user.id) %>',
                method: 'get',
                success: function (data) {
                    pwdModal.find('.modal-body').html(data);
                    pwdModal.modal('show')
                }
            })
        })
        pwdModal.on('ajax:success', function (event) {
            pwdModal.modal("hide")
        }).on('ajax:error', function (event) {
            // failed logic
            //TODO
        })
        let avatarModal = $('#upload_avatar_modal')
        $('#upload_avatar_button').on('click', function () {
            $.ajax({
                url: '<%= edit_avatar_path(user.id) %>',
                method: 'get',
                success: function (data) {
                    let modalBody = avatarModal.find('.modal-body');
                    modalBody.html(data);
                    avatarModal.modal('show')
                }
            })
        })
        $('#upload_avatar_modal').on('click', '#submit_avatar', function (e) {
            e.preventDefault();
            document.getElementById('cropper').cropper.getCroppedCanvas().toBlob((blob) => {
                let formData = new FormData()
                formData.append('avatar', blob)
                $.ajax({
                    url: '<%= upload_avatar_path(user.id) %>',
                    method: 'post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: () => {
                        avatarModal.modal('hide')
                        $.ajax({
                            url: '<%= user_avatar_url_path(user.id) %>',
                            type: 'get',
                            success: (data) => {
                                $('.avatar').attr('src', data)
                            }
                        })
                    }
                })
            })
        })

    }());
</script>