<% color = %w(purple pink blue teal green orange brown grey).sample %>

<div class="card profile-card m-0">
  <div class="card-header px-3 py-2 text-white material-head-<%= color %>">
    <ul class="list-inline">
      <li class="list-inline-item align-middle">
        <%= avatar_for(user.id) %>
      </li>
      <li class="list-inline-item align-middle">
        <ul class="list-unstyled">
          <li class="activity-starter-name"><%= user.user_name %></li>
          <li class="activity-update-date">
            <ul class="list-inline">
              <li class="list-inline-item">Following: <%= Follow.where(follower_id: user.id).count %></li>
              <li class="list-inline-item">Follower: <%= Follow.where(followee_id: user.id).count %></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>


  <div class="card-body px-3 py-2 material-body-<%= color %>"><%= user.motto %>
    <div class="row justify-content-center text-center bg-transparent">
      <% if user.id != current_user_id %>
        <% if Follow.exists?(followee_id: user.id, follower_id: current_user_id) %>
          <%= link_to "Unfollow", "/unfollow/#{user.id}", method: :delete, remote: true, class: "btn-primary col-auto m-1 material-head-#{color}", id: "#{user.id}", follow: true %>
        <% else %>
          <%= link_to "Follow", "/follow/#{user.id}", method: :post, remote: true, class: "btn-primary col-auto m-1 material-head-#{color}", id: "#{user.id}", follow: false %>
        <% end %>
        <a data-chat="<%= user.id %>" data-dismiss="modal" class="btn-primary col-auto m-1 material-head-<%= color %>" href="javascript:void(0)">
          chat
        </a>
      <% end %>
    </div>
  </div>
</div>
