<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Identity</th>
      <th>User name</th>
      <th>Email</th>
      <th>Potrait url</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Physical condition</th>
      <th>Motto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="all">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.identity %></td>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.potrait_url %></td>
        <td><%= user.height %></td>
        <td><%= user.weight %></td>
        <td><%= user.physical_condition %></td>
        <td><%= user.motto %></td>
        <td><%= link_to 'Show', user %></td>
        <td>
          <button type="button" class="btn btn-primary btn-block view" id="view_user_button" data-toggle="modal" data-target="#viewUserModal" data-id="<%= user.id%>">View</button>
        </td>

        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>

<div class="modal fade" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby="viewUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="viewUserModalLabel">User profile</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="profile">

      </div>
    </div>
  </div>
</div>

<script>

    $('.all').on('click', '.view',function () {
        var viewUserModal = $('#viewUserModal');
        var modalBodyy = viewUserModal.find('.modal-body');
        var userId = $(this).data('id');
        $.ajax({
            url: 'users/' + userId,
            method: 'get',
            data: {
                op: 'showButton'
            },
            success: function (data) {
                modalBodyy.html(data);
                viewUserModal.modal('show')
            }
        })
    })
    viewUserModal.on('ajax:success', function (event) {
        [data, status, xhr] = event.detail
        viewUserModal.modal("hide")
    }).on('ajax:error', function (event) {
        // failed logic
        //TODO
    })
</script>


