<%
  activities_joined = @activities_joined.as_json
  activities_joined_size = activities_joined.size
  activities_joined_time = activities_joined.group_by {|x| x['activity_date'].beginning_of_week.strftime("%Y-%m-%d")}
  activities_joined_time_array = activities_joined_time
      .map {|(key, val)| [key, val.size]}.sort {|a, b| a[0] <=> b[0]}


  activities_started = @activities_started.as_json
  activities_started_size = activities_started.size
  activities_started_time = activities_started.group_by {|x| x['activity_date'].beginning_of_week.strftime("%Y-%m-%d")}
  activities_started_time_array = activities_started_time
      .map {|(key, val)| [key, val.size]}.sort {|a, b| a[0] <=> b[0]}

%>
<div class="achievement_container">
  <div class="user_stat_box">
    <h1 class="title-big text-center">Your achievements</h1>
    <hr>
    <div class="card">
      <div class="card-body">
        You were registered <%= time_ago_in_words current_user.created_at %> ago
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        You have joined <%= @activities_joined.size %> activites
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        You have started <%= @activities_started.size %> activites
      </div>
    </div>
    <div id="join_stats" style="width: 350px;height: 350px;"></div>
    <div id="start_stats" style="width: 350px;height: 350px;"></div>
  </div>
  <div id="post_display_container_joined" class="poster_blocks">
    <h1 class="title-big text-center">Activities I Joined</h1>
    <hr>
    <div class="poster_box">
      <% @activities_joined.limit(4).each do |activity| %>
        <%= render partial: 'activities/poster', locals: {activity: activity} %>
      <% end %>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item previous"><a class="page-link" href="javascript:void(0)">Previous</a></li>
        <li class="page-item page-item-num active"><a class="page-link" href="javascript:void(0)">1</a></li>
        <% 2.upto((activities_joined_size.to_f / 4).ceil) do |x| %>
          <li class="page-item page-item-num "><a class="page-link" href="javascript:void(0)"><%= x %></a></li>
        <% end %>
        <li class="page-item next"><a class="page-link" href="javascript:void(0)">Next</a></li>
      </ul>
    </nav>
  </div>
  <div id="post_display_container_started" class="poster_blocks">
    <h1 class="title-big text-center">Activities Started</h1>
    <hr>
    <div class="poster_box">
      <% @activities_started.limit(4).each do |activity| %>
        <%= render partial: 'activities/poster', locals: {activity: activity} %>
      <% end %>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item previous"><a class="page-link" href="javascript:void(0)">Previous</a></li>
        <li class="page-item active page-item-num "><a class="page-link" href="javascript:void(0)">1</a></li>
        <% 2.upto((activities_started_size.to_f / 4).ceil) do |x| %>
          <li class="page-item page-item-num "><a class="page-link" href="javascript:void(0)"><%= x %></a></li>
        <% end %>
        <li class="page-item next"><a class="page-link" href="javascript:void(0)">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
<script>
    ;(function () {
        window.refreshPosts = function () {
            $.ajax({
                url: '<%= refresh_posts_achievements_url %>',
                data: {
                    joined_page:
                        $('#post_display_container_joined').find('.page-item.active .page-link').html(),
                    joined_size: 4,
                    started_page:
                        $('#post_display_container_started').find('.page-item.active .page-link').html(),
                    started_size: 4
                }
            })
        }
        let start_charts = echarts.init(document.getElementById('start_stats'))
        start_charts.setOption({
            title: {
                text: 'started activities'
            },
            tooltip: {},
            legend: {
                data: ['times']
            },
            xAxis: {
                data: <%=activities_started_time_array.map{|x|x[0]}.to_json.html_safe %>,
            },
            yAxis: {},
            series: [{
                name: 'times',
                type: 'line',
                data: <%=activities_started_time_array.map{|x|x[1]}.to_json.html_safe %>,
            }]
        })
        let join_charts = echarts.init(document.getElementById('join_stats'))
        join_charts.setOption({
            title: {
                text: 'joined activities'
            },
            tooltip: {},
            legend: {
                data: ['times']
            },
            xAxis: {
                data: <%=activities_joined_time_array.map{|x|x[0]}.to_json.html_safe %>,
            },
            yAxis: {},
            series: [{
                name: 'times',
                type: 'line',
                data: <%=activities_joined_time_array.map{|x|x[1]}.to_json.html_safe %>,
            }]
        })
    })()
</script>