<%
  activities_joined = @activities_joined.as_json
  activities_joined_time = activities_joined.group_by {|x| x['created_at'].strftime("%Y-%m-%d")}
  activities_joined_time_array = activities_joined_time
      .map {|(key, val)| [key, val.size]}.sort {|a, b| a[0] - b[0]}


  activities_started = @activities_started.as_json
  activities_started_time = activities_started.group_by {|x| x['created_at'].strftime("%Y-%m-%d")}
  activities_started_time_array = activities_started_time
      .map {|(key, val)| [key, val.size]}.sort {|a, b| a[0] - b[0]}

%>
<div class="achievement_container">
  <div class="user_stat_box">
    <h1 class="title-big text-center">Your achievements</h1>
    <div class="card">
      <div class="card-body">
        You were registered <%= time_ago_in_words current_user.created_at %> ago
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        You have joined <%= @activities_joined.size %> activites
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        You have started <%= @activities_started.size %> activites
      </div>
    </div>
    <div id="join_stats" style="width: 500px;height: 500px;"></div>
    <div id="start_stats" style="width: 500px;height: 500px;"></div>
  </div>
  <div id="post_display_container_joined" class="poster_blocks">
    <h1 class="title-big text-center">Activities I Joined</h1>
    <hr>
    <% @activities_joined.each do |activity| %>
      <tr>
        <td>
          <%= render partial: 'activities/poster', locals: {activity: activity} %>
        </td>
      </tr>
    <% end %>
  </div>

  <div id="post_display_container_started" class="poster_blocks">
    <h1 class="title-big text-center mt-5">Activities Started By Me</h1>
    <hr>
    <% @activities_started.each do |activity| %>
      <tr>
        <td>
          <%= render partial: 'activities/poster', locals: {activity: activity} %>
        </td>
      </tr>
    <% end %>
  </div>
</div>
<script>
    ;(function () {
        window.refreshPosts = function () {
            $.ajax({
                url: '<%= refresh_posts_achievements_url %>',
                data: {
                    page: 1,
                    size: 20,
                }
            })
        }
        let start_charts = echarts.init(document.getElementById('start_stats'))
        start_charts.setOption({
            title: {
                text: 'stared activities'
            },
            tooltip: {},
            legend: {
                data: ['times']
            },
            xAxis: {
                data: <%=activities_started_time_array.map{|x|x[0]}.to_json.html_safe %>,
            },
            yAxis: {},
            series: [{
                name: 'the number of activities you started that day',
                type: 'bar',
                data: <%=activities_started_time_array.map{|x|x[1]}.to_json.html_safe %>,
            }]
        })
        let join_charts = echarts.init(document.getElementById('join_stats'))
        join_charts.setOption({
            title: {
                text: 'joined activities'
            },
            tooltip: {},
            legend: {
                data: ['times']
            },
            xAxis: {
                data: <%=activities_joined_time_array.map{|x|x[0]}.to_json.html_safe %>,
            },
            yAxis: {},
            series: [{
                name: 'the number of activities you joined that day',
                type: 'bar',
                data: <%=activities_joined_time_array.map{|x|x[1]}.to_json.html_safe %>,
            }]
        })
    })()
</script>