<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @photo.activity_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user_id %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @photo.photo_url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
