<%= form_with(model: activity, format: :json) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "When?" %>

    <div class="input-group date" id="datetimepicker" data-target-input="nearest">
      <!--                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker9"/>-->
      <%= form.text_field :activity_date, class: "form-control datetimepicker-input", "data-target": "#datetimepicker", placeholder: "when will the activity start.." %>

      <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>

  </div>

  <div class="form-group">
    <%= form.label "Where?" %>
    <%= form.text_field :place, class: "form-control", placeholder: "where to meet.." %>
  </div>

  <div class="form-group">
    <%= form.label "What?" %>
    <%= form.text_area :content, class: "form-control", placeholder: "what is the Activity about.." %>
  </div>

  <div class="row">
    <div class="col form-group mb-0">
      <div class="btn-group color-checker" role="group" aria-label="First group">
          <%= form.label :theme_color, class: "btn radio-btn-purple mb-0" do %>
            <%= form.radio_button :theme_color, 'purple' %>
            <i class="fas fa-check text-white"></i>
          <% end %>
          <%= form.label :theme_color, class: "btn radio-btn-pink mb-0" do %>
            <%= form.radio_button :theme_color, 'pink' %>
            <i class="fas fa-check text-white"></i>
          <% end %>
          <%= form.label :theme_color, class: "btn radio-btn-blue mb-0" do %>
            <%= form.radio_button :theme_color, 'blue', checked: true %>
            <i class="fas fa-check text-white"></i>
          <% end %>
          <%= form.label :theme_color, class: "btn radio-btn-teal mb-0" do %>
            <%= form.radio_button :theme_color, 'teal' %>
            <i class="fas fa-check text-white"></i>
          <% end %>
          <%= form.label :theme_color, class: "btn radio-btn-green mb-0" do %>
            <%= form.radio_button :theme_color, 'green' %>
            <i class="fas fa-check text-white"></i>
          <% end %>
          <%= form.label :theme_color, class: "btn radio-btn-orange mb-0" do %>
            <%= form.radio_button :theme_color, 'orange' %>
            <i class="fas fa-check text-white"></i>
          <% end %>
          <%= form.label :theme_color, class: "btn radio-btn-brown mb-0" do %>
            <%= form.radio_button :theme_color, 'brown' %>
            <i class="fas fa-check text-white"></i>
          <% end %>
          <%= form.label :theme_color, class: "btn radio-btn-grey mb-0" do %>
            <%= form.radio_button :theme_color, 'grey' %>
            <i class="fas fa-check text-white"></i>
          <% end %>
      </div>
    </div>

    <div class="col actions">  <!-- modal-footer -->
      <%= form.submit "ok", data: {"disable-with": "Saving..."}, class: "btn text-white material-head-blue float-right" %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            icons: {
                time: "far fa-clock",
                date: "far fa-calendar",
            }
        });
    });
</script>
