<%= form_with(model: activity) do |form| %>
  <div class="create-poster-form">
    <div class="form-group">
      <%= form.label "When to start?" %>

      <div class="input-group date" id="activity-start-time" data-target-input="nearest">
        <%= form.text_field :activity_date, value: activity.activity_date.nil? ? "" : activity.activity_date.strftime('%m/%d/%Y %H:%M'), class: "form-control datetimepicker-input", "data-target": "#activity-start-time", placeholder: "when will the activity start.." %>
        <div class="input-group-append" data-target="#activity-start-time" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
        <div class="invalid-feedback">
          <%= activity.errors.full_messages_for(:activity_date).first %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label "When it ends?" %>

      <div class="input-group date" id="activity-end-time" data-target-input="nearest">
        <%= form.text_field :activity_end_time, value: activity.activity_date.nil? ? "" : activity.activity_end_time.strftime('%m/%d/%Y %H:%M'), class: "form-control datetimepicker-input", "data-target": "#activity-end-time", placeholder: "when will the activity end.." %>
        <div class="input-group-append" data-target="#activity-end-time" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
        <div class="invalid-feedback">
          <%= activity.errors.full_messages_for(:activity_end_time).first %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label "Where?" %>
      <%= form.text_field :place, class: "form-control", placeholder: "where to meet.." %>
      <div class="invalid-feedback">
        <%= activity.errors.full_messages_for(:place).first %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label "What is your plan?" %>
      <a class="btn btn-primary text-white rounded-circle add_contents"><i class="fa fa-plus"></i></a>
      <%= form.hidden_field :activity_contents, class: "activity_contents" %>
    </div>

    <% activity.activity_contents.each do |content| %>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <input placeholder="activity name" class="form-control activity_name activity_content_input"
                   value="<%= content.sport_option %>">
          </div>
          <div class="col">
            <input placeholder="times or duration" class="form-control activity_quantity activity_content_input"
                   value="<%= content.quantity %>">
          </div>
          <a class="btn btn-primary text-white rounded-circle remove_contents"><i class="fa fa-minus"></i></a>
        </div>
      </div>
    <% end %>


    <div class="form-group content_field">
      <%= form.label "What?" %>
      <%= form.text_area :content, class: "form-control", placeholder: "what is the activity about.." %>
      <div class="invalid-feedback">
        <%= activity.errors.full_messages_for(:content).first %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label "Type?" %>
      <!--    <div>-->
      <%= form.select(:activity_type_id, ActivityType.all.collect {|x| [x.name, x.id]}, {}, {class: "form-control"}) %>
      <!--    </div>-->
    </div>

    <div class="col actions">  <!-- modal-footer -->
      <%= form.submit "ok", data: {"disable-with": "Saving..."}, class: "btn text-white material-head-blue float-right" %>
    </div>
  </div>

<% end %>
</div>

<script type="text/javascript">
    $(function () {
        let start = $('#activity-start-time')
        start.datetimepicker({
            icons: {
                time: "far fa-clock",
                date: "far fa-calendar",
            },
            format: 'MM/DD/YYYY HH:mm'
        });
        let end = $('#activity-end-time')
        end.datetimepicker({
            icons: {
                time: "far fa-clock",
                date: "far fa-calendar",
            },
            format: 'MM/DD/YYYY HH:mm',
            useCurrent: false,
        });

        start.on("change.datetimepicker", function (e) {
            end.datetimepicker('minDate', e.date);
        });
        end.on("change.datetimepicker", function (e) {
            start.datetimepicker('maxDate', e.date);
        });


        if ($('.create-poster-form .activity_content_input').length == 0) {
            $('.create-poster-form .form-group .add_contents').click()
        }
        $('.create-poster-form').find('.activity_content_input').trigger('change')
    });

</script>
