<%= form_with(model: activity) do |form| %>
  <div class="form-group">
    <%= form.label "When?" %>

    <div class="input-group date" id="datetimepicker" data-target-input="nearest">
      <!--                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker9"/>-->
      <%= form.text_field :activity_date, class: "form-control datetimepicker-input", "data-target": "#datetimepicker", placeholder: "when will the activity start.." %>
      <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
      <div class="invalid-feedback">
        <%= activity.errors.full_messages_for(:activity_date).first %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "Where?" %>
    <%= form.text_field :place, class: "form-control", placeholder: "where to meet.." %>
    <div class="invalid-feedback">
      <%= activity.errors.full_messages_for(:place).first %>
    </div>
  </div>

  <!-- Temporary use, delete later
  <div class="form-group">
    <%#= form.label "Type?" %>
    <%#= form.text_field :type, class: "form-control", placeholder: "tag for your activity.." %>

  </div> -->


  <div class="form-group">
    <%= form.label "What?" %>
    <%= form.text_area :content, class: "form-control", placeholder: "what is the activity about.." %>
    <div class="invalid-feedback">
      <%= activity.errors.full_messages_for(:content).first %>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="col form-group mb-0">
      <div class="btn-group color-checker" role="group" aria-label="First group">
          <%#= form.label :activity_type.color, class: "btn radio-btn-color radio-btn-purple mb-0", 'data-toggle': "tooltip", 'data-placement': "top", 'title': 'Cardio' do %>
          <%#= form.radio_button :activity_type.color, 'purple' %>
            <i class="fas fa-check text-white"></i>
          <%# end %>
          <%#= form.label :activity_type.color, class: "btn radio-btn-color radio-btn-pink mb-0", title: 'HIITs' do %>
          <%#= form.radio_button :activity_type.color, 'pink' %>
            <i class="fas fa-check text-white"></i>
          <%# end %>
          <%#= form.label :activity_type.color, class: "btn radio-btn-color radio-btn-blue mb-0", title: 'Play around' do %>
          <%#= form.radio_button :activity_type.color, 'blue', checked: true %>
            <i class="fas fa-check text-white"></i>
          <%# end %>
          <%#= form.label :activity_type.color, class: "btn radio-btn-color radio-btn-teal mb-0", title: 'Fat Burn' do %>
          <%#= form.radio_button :activity_type.color, 'teal' %>
            <i class="fas fa-check text-white"></i>
          <%# end %>
          <%#= form.label :activity_type.color, class: "btn radio-btn-color radio-btn-green mb-0", title: 'Anaerobic' do %>
          <%#= form.radio_button :activity_type.color, 'green' %>
            <i class="fas fa-check text-white"></i>
          <%# end %>
          <%#= form.label :activity_type.color, class: "btn radio-btn-color radio-btn-orange mb-0", title: 'Aerobics' do %>
          <%#= form.radio_button :activity_type.color, 'orange' %>
            <i class="fas fa-check text-white"></i>
          <%# end %>
          <%#= form.label :activity_type.color, class: "btn radio-btn-color radio-btn-brown mb-0", title: 'Leg Day!' do %>
          <%#= form.radio_button :activity_type.color, 'brown' %>
            <i class="fas fa-check text-white"></i>
          <%# end %>
          <%#= form.label :theme_color, class: "btn radio-btn-color radio-btn-grey mb-0", title: 'ETC.' do %>
          <%#= form.radio_button :activity_type.color, 'grey' %>
            <i class="fas fa-check text-white"></i>
          <%# end %>
      </div>
    </div>
    -->

    <div class="col actions">  <!-- modal-footer -->
      <%= form.submit "ok", data: {"disable-with": "Saving..."}, class: "btn text-white material-head-blue float-right" %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            icons: {
                time: "far fa-clock",
                date: "far fa-calendar",
            },
        });

    });
</script>
