<%
  isJoined = logged_in?
  if (isJoined)
    join = activity.get_participation_by_user_id(current_user_id).first
    isJoined = isJoined && !join.nil?
  end
  show_comment = false if local_assigns[:show_comment].nil?
  starter = activity.starter
%>

<div class="card shadow mb-3 poster" data-poster="<%= activity.id %>">
  <div class="card-header px-3 py-2 text-white material-head-<%= ActivityType.find_by(id: activity.activity_type_id).color %>">
    <div class="row justify-content-between">
      <div class="col col-auto card-title m-0 pr-1">
        <ul class="list-inline mb-1">
          <li class="list-inline-item align-middle dropdown card-starter-avatar" data-avatar-pop="<%= starter.id %>">
            <% if activity.starter_id == current_user_id %>
              <%= avatar_for(activity.starter) %>
            <% else %>
              <%= avatar_for(starter, 'data-chat': starter.id) %>
            <% end %>
            <div class="dropdown-menu profile-dropdown p-0"> ...</div>
          </li>
          <li class="list-inline-item align-middle">
            <ul class="list-unstyled">
              <li class="activity-starter-name"><%= starter.user_name %></li>
              <li class="activity-update-date"><%= time_ago_in_words activity.updated_at %> ago</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col col-auto card-title card-title-button text-right m-0 pl-1">
        <% if !logged_in? %>
          <%= link_to "", login_path, {remote: true, 'data-toggle': "modal", 'data-target': "#login", 'data-dismiss': "modal", class: "fas fa-plus text-white"} %>
        <% else %>
          <% if activity.status != 3 %>
            <% if isJoined %>
              <div class="dropdown">
                <a class="fas fa-check" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdownMenuButton">
                  <%= link_to "QR Code", "/get_qrcode/#{activity.id}", remote: true, method: :post, class: "dropdown-item" %>
                  <%= link_to "Save Poster", "/get_canvas/#{activity.id}", remote: true, method: :post, class: "dropdown-item" %>
                  <a class="dropdown-item" data-upload-picture="<%= activity.id %>">Upload Picture</a>
                  <% if starter == current_user %>
                    <a class="dropdown-item modify" data-id="<%= activity.id %>">Modify</a>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Leave Activity", "/leave_activity/#{activity.id}", remote: true, method: :post, class: "dropdown-item leave" %>
                </div>
              </div>
            <% else %>
              <%= link_to "", "/join_activity/#{activity.id}", remote: true, method: :post, class: "fas fa-plus", 'title': "join activity" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="card-title card-title-date m-0">
      <i class="fas fa-calendar"></i>
      <%= activity.activity_date.strftime("%b %d, %a %H:%M") %>
    </div>
    <div class="card-title card-title-place m-0">
      <i class="fas fa-map-marker-alt"></i>
      <%= activity.place %>
    </div>
  </div>

  <div class="card-body p-3 material-body-<%= ActivityType.find_by(id: activity.activity_type_id).color %> ">
    <%= activity.content %>
    <br>
    <% activity.activity_contents.each_with_index do |content, index| %>
      <%= render partial: 'activities/content', locals: {content: content, index: index} %>
    <% end %>
    <br>
    <span>Ending time: <%= activity.activity_end_time.strftime("%b %d, %a %H:%M") %> </span>
    <%= render 'users/user_avatar_list2', users: activity.users, starter: activity.starter %>
  </div>

  <div class="card-footer bg-transparent px-3 pt-0 pb-2 material-footer-<%= ActivityType.find_by(id: activity.activity_type_id).color %>">
    <div class="row align-items-center">
      <% if isJoined %>
        <div class="col-auto rate-star" data-raty="true"
             <%= join.rating != 0 ? "data-readonly='true'" : "" %>
             data-id="<%= join.id %>"
             data-score="<%= join.rating %>">
        </div>
      <% end %>

      <div class="col text-right comment_box" data-id="<%= activity.id %>">
        <a class="participant mr-1"><i class="fas fa-users mr-1" title="participant"></i><span><%= activity.activity_participants.size %></span></a>
        <% if activity.liked?(current_user_id) %>
          <a class="like mr-1"><i class="fa fa-heart mr-1" title="unlike"></i><span><%= activity.likes.size %></span></a>
        <% else %>
          <a class="like mr-1"><i class="far fa-heart mr-1" title="like"></i><span><%= activity.likes.size %></span></a>
        <% end %>
        <a class="comment"><i class="far fa-comment mr-1" title="comment"></i><span><%= activity.comments.size %></span></a>
      </div>
    </div>

  </div>

  <% if show_comment %>
    <% if activity.photos.size > 0 %>
      <div class="card">
        <div class="photo_gallery">
          <%= render 'photos/photo_list_for_poster', photos: activity.photos %>
        </div>
      </div>
    <% end %>
    <div class="card reviews">
      <div class="card-body px-3 pt-3">
        <div class="card-title mb-2">Reviews</div>
        <ul class="list-group list-group-flush">
          <% activity.comments_list.each do |comment| %>
            <div class="list-group-item list-group-item-action flex-column align-items-start px-1">
              <div class="d-flex w-100 justify-content-between mb-2">
                <div class="comment-avatar"><%= avatar_for(comment.user) %><%= comment.user.user_name %></div>
                <div class="comment-time"><%= time_ago_in_words comment.updated_at %> ago</div>
              </div>
              <p class="comment-text mb-0">
                <%= comment.content %>
              </p>
            </div>
          <% end %>
        </ul>
        <div class="input-group comment-input-group mt-3">
          <textarea placeholder="Enter your comment here" class="form-control" aria-label="With textarea"></textarea>
          <div class="input-group-append">
            <% if !logged_in? %>
              <%= link_to "Submit", login_path, {remote: true, 'data-toggle': "modal", 'data-target': "#login", 'data-dismiss': "modal", class: "btn btn-outline-secondary"} %>
            <% else %>
              <button class="btn btn-outline-secondary comment_submit" data-id="<%= activity.id %>" type="button">Submit</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
    ratyAll()// make sure every raty is transformed
</script>