<div class="card shadow mb-3">
  <!--      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">-->

  <div class="card-header px-3 py-1 text-white material-head-<%= activity.theme_color %>">
    <div class="row align-items-center justify-content-between">
      <div class="col col-auto card-title card-title-date m-0">
        <% if !activity.activity_date.nil? %>
          <%= activity.activity_date.strftime("%b %d") %>
        <% else %>
          Sometime
        <% end %>
      </div>

      <div class="col col-auto card-title card-title-button text-right m-0">
        <% if !logged_in? %>
          <%= link_to "", login_path, {remote: true, 'data-toggle': "modal", 'data-target': "#login", class: "fas fa-ellipsis-v"}%>
        <% else %>
          <%#= link_to "", "/join_activity/#{activity.id}", class: "fas fa-plus", method: :post %>
          <%= link_to "", "/join_activity/#{activity.id}", class: "fas fa-ellipsis-v", method: :post %>
        <% end %>
      </div>
    </div>

    <div class="row align-items-center justify-content-between">
      <div class="col col-auto card-title card-title-time m-0">
        <% if !activity.activity_date.nil? %>
          <%#= activity.activity_date.strftime("%a %H:%M") %>
          <%= activity.activity_date.strftime("%a %H:%M") %>
        <% else %>
          Undecided
        <% end %>
      </div>

      <div class="col col-auto card-title card-title-place text-right m-0">
        <%= activity.place %>
      </div>
    </div>
  </div>

  <div class="card-body p-3 material-body-<%= activity.theme_color %> ">
    <%= activity.content %>
  </div>

  <!--      todo footer not show at bottom-->
  <div class="card-footer bg-transparent px-3 pt-0 material-footer-<%= activity.theme_color %>">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto text-left rate-star" data-raty="true"></div>
      <div class="col-auto text-right">
        Update: <%= activity.updated_at.strftime("%m/%d/%y %H:%M") %>
      </div>
    </div>
  </div>
</div>
<script>
    ratyAll()// make sure every raty is transformed
</script>