<div class="card shadow mb-3">
  <!--      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">-->

  <div class="card-header px-3 py-2 text-white material-head-<%= activity.theme_color %>">

    <div class="row justify-content-between">
      <div class="col col-auto card-title card-starter-avatar m-0"><%= activity_starter_avatar(activity.starter_id) %>  <%= activity_starter_name(activity.starter_id) %></div>
<!--      <div class="col col-auto"><%#= activity_starter_name(activity.starter_id) %></div>-->

      <%# if activity joined  %>
<!--        <div class="col col-auto fas fa-check"></div>-->
      <%# end %>
      <div class="col col-auto card-title card-title-button text-right m-0">
        <% if !logged_in? %>
          <%= link_to "", login_path, {remote: true, 'data-toggle': "modal", 'data-target': "#login", class: "fas fa-ellipsis-v text-white"} %>
        <% else %>
          <%#= link_to "", "/join_activity/#{activity.id}", class: "fas fa-plus", method: :post %>
          <div class="dropleft">
            <a class="fas fa-ellipsis-v" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdownMenuButton">
              <%= link_to "Join Activity", "/join_activity/#{activity.id}", remote: true, class: "dropdown-item", method: :post %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Follow <%= activity_starter_name(activity.starter_id) %></a>
              <a class="dropdown-item" href="#">Email <%= activity_starter_name(activity.starter_id) %></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card-title card-title-date m-0">
      <% if !activity.activity_date.nil? %>
        <%= activity.activity_date.strftime("%b %d, %a %H:%M") %>
      <% else %>
        Sometime
      <% end %>
    </div>

    <div class="card-title card-title-place m-0">
      <%= activity.place %>
    </div>

  </div>

  <div class="card-body p-3 material-body-<%= activity.theme_color %> ">
    <%= activity.content %>
  </div>

  <!--      todo footer not show at bottom-->
  <div class="card-footer bg-transparent px-3 pt-0 material-footer-<%= activity.theme_color %>">
    <div class="row align-items-center justify-content-between">
      <% unless !logged_in? || activity.get_participation_by_user_id(current_user.id).size == 0 %>
        <div class="col-auto text-left rate-star" data-raty="true"
             <%= activity.get_participation_by_user_id(current_user.id).first.rating != 0 ? "data-readonly='true'" : "" %>
             data-id="<%= activity.get_participation_by_user_id(current_user.id).first.id %>"
             data-score="<%= activity.get_participation_by_user_id(current_user.id).first.rating %>"
        ></div>
      <% end %>
      <div class="col-auto text-right">
        Update: <%= activity.updated_at.strftime("%m/%d/%y %H:%M") %>
      </div>
    </div>
  </div>
</div>
<script>
    ratyAll()// make sure every raty is transformed
</script>