<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Activity_date</th>
      <th>Place</th>
      <th>Content</th>
      <th>Status</th>
      <th>Starter</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.activity_date %></td>
        <td><%= activity.place %></td>
        <td><%= activity.content %></td>
        <td><%= activity.status %></td>
        <td><%= activity.starter_id %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
