<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Activity_date</th>
      <th scope="col">Place</th>
      <th scope="col">Content</th>
      <th scope="col">Status</th>
      <th scope="col">Starter</th>
      <th colspan=3></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.activity_date %></td>
        <td><%= activity.place %></td>
        <td><%= activity.content %></td>
        <td><%= activity.status %></td>
        <td><%= activity.starter_id %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Activity', new_activity_path , class: "btn btn-primary"%>
